@font-face {
  font-family: 'Arco';
  src: url(./fuentes/ARCO.ttf);
}

.app{
  width: 100%;
  margin: auto;
}

.principal-title{
  text-align: center;
  font-family: 'Arco';
}

.game{

  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h3{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Arco';
  }

  & h1, h5 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Arco';
  }

}

.start-button{
  opacity: 0;
  font-family: 'Arco';
  font-size: 20px;
  color: white;
  border: 5px solid black;
  background: rgb(13, 186, 245);
  border-radius: 10px;
  padding: 10px;
  transition: opacity .3s ease-in-out;
}

.game:hover .start-button{
  opacity: 1;
}

@media (width <= 700px) {

    .game {
      height: 80vh;
    }

}